<h3>{{title}}</h3>
<div class="row">
  <div class="col-xs-7">
    <label for="name">First Name:</label>{{employee.firstName}}
  </div>
</div>


<div class="row">
    <div class="col-xs-7">
      <label for="name">Last Name:</label>{{employee.lastName}}
    </div>
  </div>


<div class="row">
    <div class="col-xs-7">
      <label for="name">Age:</label>{{employee.age}}
    </div>
  </div>

<div class="row">
  <div class="col-xs-7">
    <label for="name">Department:</label>{{employee.department}}
  </div>
</div>

<div class="row">
  <div class="col-xs-7">
    <a href="#" (click)="goBackToIndex()" class="btn btn-primary">Back</a>
  </div>
</div>